<div class="container-fluid">
    <div class="container body">
                <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="post-wrapper">
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="alert-heading">Hello!</h4><span class="pull-right" style="font-size:80%;"> <i>20 July 2017</i> </span>
                        <p>Blog is still under developing, however some features are working, so you can ...</p>
                        <p class="mb-0">- Login safely with social accounts. <br> - Post article after you are logged in.</p>
                     <button (click)="testFx()">test</button>
                    </div>

                    <div class="alert alert-danger" *ngIf="errorMessage != null">{{errorMessage}}</div>
                    
                    
                    <!-- Posts  -->
                    <div *ngFor="let post of posts | reverse">
                        <div class="post-container">

                            <section class="post-title">
                                <div class="post-action pull-right">
                                    <!-- HTML to write -->
                                    <div class="btn-group" role="group" title="edit/delete post">
                                        <a id="btnGroupDrop1" class="btn-postaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item dd-edit" *ngIf="(afAuth.authState | async)" (click)="editPost()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                            <a class="dropdown-item dd-del" *ngIf="(afAuth.authState | async)" (click)="deletePost(post.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                                            <a class="dropdown-item"><i class="fa fa-exclamation" aria-hidden="true"></i> Report</a>
                                        </div>
                                    </div>
                                </div>


                                <a href="{{post.id}}"><h3>{{post.title}}</h3></a>
                                <div class="date">{{post.createdOn | date: 'longDate'}}</div>
                                <div class="author">
                                    By: {{post.author}}
                                </div>
                            </section>
 
                            <section class="post-content" [innerHTML]="post.content">

                            </section>

                            <section class="post-social" style="margin-top:2%;">
                                <!--<button data-toggle="modal" data-target="#exampleModalLong" md-raised-button>Share</button>-->
  
                            </section>
                        </div>
                    </div>


                    <!-- <blog-post [postNumberLoad]="postLoad">Loading posts..</blog-post> -->
                </div>
            </div>
            <div class="col-sm-4  blog-sidebar">
                <div class="sidebar-module sidebar-module-header">

                    <div class="card">
                        <img class="card-img-top thumpnail" src="../assets/img/nui-thumbnail.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p style="margin-top: 5px;  text-indent: 20px;">
                                <b>Hello, my name is Nui Rattapon — a web developer. Currently work in Auckland for MVP Studio.</b>
                            </p>
                            <p>This blog was built from scratch, powered by Angular 4, Bootstrap 4, GSAP, Skrollr and many more.
                                Use ASP.Net Core API and Firebase as a back-end.</p>
                            <p>Thanks for visiting.</p>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>
