<div class="cv-container">

   <div class="nav cv pull-right">
            <a class="nav-link" routerLinkActive="active"  id="link-cv" [routerLink]="['/resume']">Resume</a>
            <a class="nav-link" routerLinkActive="active"  id="link-cover" [routerLink]="['/cover']">Cover</a>
            <a class="nav-link" routerLinkActive="active"  id="link-blog" [routerLink]="['/blog']">Blog</a>
    </div>


    <div class="wrapper">





        <h2 class="myname">Nui Rattapon W.</h2>

        <aside>
            <header>

            </header>
            <section>
                <h3>Contact me</h3>
                <p><a href="mailto:connect@NuiRattapon.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; connect@nuirattapon.com</a> 
                <p><a href="tel:+6421898539"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; (+64) 021 189 8539</a>
                <p><a href="https://linkedin.com/in/rattapon/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp; LinkedIn profile</a></p>
                <p><a href="https://github.com/nuirattapon" target="_blank"> <i class="fa fa-github-square" aria-hidden="true"></i>&nbsp; Github profile</a></p>
                <p><a [routerLink]="['/cover']"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; View cover</a></p>
            </section>

        </aside>


        <article>

            <header>
                <h2 class="cv">Curriculum Vitae</h2>
            </header>

            <section class="experience-list">


                <h2>Experience</h2>


                <section class="exp-item i1">
                    <h3><a target="_blank" href="http://www.mvpstudio.co.nz/">MVP Studio, Auckland</a></h3>
                    <span class="date">03/2017 - Present</span>
                    <h5>Full-stack web developer</h5>
                    <p><b>Project</b> : <a target="_blank" href="https://dev.alexswift.com">Alex Swift Emergency Contact</a> 
                       <br><b>Environment</b>: Agile & Scrum
                       <br><b>Main technologies</b>: C# Asp.Net MVC, AngularJS, MsSQL, UI-Bootstrap
                       <br><b>Responses</b> : 
                       <br>&nbsp;&nbsp; • Development of back-end Windows  Service to serve back-end geolocation functionality. 
                       <br>&nbsp;&nbsp; • Redesign account and profile page. 
                       <br>&nbsp;&nbsp; • refactor site's layout and site's css file structure. 
                       <br>&nbsp;&nbsp; • Demo's day presenter team.
                       
                       <br><b>Award</b>: Best performance of May 2017                  
                        </p>
                </section>

                <section class="exp-item i1">
                    <h3><a target="_blank" href="https://www.thomsonreuters.com">Thomson Reuters, Bangkok</a></h3>
                    <span class="date">08/2012 - 02/2013</span>
                    <h5>Software engineer (internship)</h5>
                    <p><b>Project</b>: End-End automation testing framework
                    <br><b>Environment</b>: Agile & Scrum
                    <br><b>Main technologies</b>: C# .Net, Selenium, NUnit, XML, HTML
                    <br><b>Responses</b> : 
                        <br>&nbsp;&nbsp; • Developed automate testing framework to fulfils Continuous Integration(CI) system  
                        <br>&nbsp;&nbsp; • Embed Selenium2 into framework to drive test on web application 
                        <br>&nbsp;&nbsp; • Generate automate test report in HTML
                    <br> <b>Product</b>: 
                    <a target="_blank" href="https://financial.thomsonreuters.com/en/products/tools-applications/trading-investment-tools/eikon-trading-software.html">EIKON</a>
                    </p>
                </section>




            </section>

            <section class="skills">
                <h2>Skills</h2>

                <div class="skill-set">


                    <ul>
                        <h6>Font-End</h6>
                        <li>Angular 2</li>
                        <li>AngularJS</li>
                        <li>HTML/CSS</li>
                        <li>TypeScript</li>
                        <li>Javascript</li>
                        <li>jQuery</li>
                        <li>Bootstrap</li>
                        <li>Angular Material</li>
                        <li>GreenSock</li>
                        <li>Skrollr</li>
                        <li>Photoshop</li>
                    </ul>

                    <ul>
                        <h6>Back-End</h6>
                        <li>C#</li>
                        <li>ASP.NET (MVC, Core, API)</li>
                        <li>Microsoft SQL</li>
                        <li>LINQ</li>
                        <li>Node.js</li>
                        <li>Windows Service</li>
                        <li>Firebase</li>
                        <li>AZURE</li>

                    </ul>

                    <ul>
                        <h6>Knowledges</h6>
                        <li>HTTP/RESTful</li>
                        <li>Human computer interaction</li>
                        <li>Responsive web design</li>
                        <li>Scrum</li>
                        <li>Agile methodologies</li>
                        <li>Object-oriented programming</li>

                    </ul>


                </div>

                <ul class="horizontal-list">
                    <li><strong>Old:</strong></li>
                    <li>C</li>
                    <li>Java</li>
                    <li>Matlab</li>
                    <li>Selenium</li>
                    <li>NUnit</li>
                </ul>




            </section>
            <!--End Skill list-->


            <section class="ref">
                <h2>References</h2>

                <section>
                   
                    <p>Available upon request.</p>
                </section>

            </section>

        </article>




    </div>

</div>