<div class="cv-container">

  <div class="nav cv pull-right">
    <a class="nav-link" routerLinkActive="active" id="link-cv" [routerLink]="['/resume']">Resume</a>
    <a class="nav-link" routerLinkActive="active" id="link-cover" [routerLink]="['/cover']">Cover</a>
    <a class="nav-link" routerLinkActive="active" id="link-blog" [routerLink]="['/blog']">Blog</a>
  </div>


  <div class="wrapper">




    <h1 class="cv">Resume</h1>


    <aside>
      <header>

      </header>
      <section>
        <h3>Contact</h3>
        <p>257 Armagh St, Christchurch</p>
        <p><a href="mailto:connect@NuiRattapon.com">connect@nuirattapon.com</a>
          <p><a href="tel:+6421898539">(+64) 021 189 8539</a>

            <p><a href="https://linkedin.com/in/rattapon/" target="_blank">LinkedIn</a></p>
            <p><a href="https://github.com/nuirattapon" target="_blank">Github</a></p>
            <!-- <p><a [routerLink]="['/cover']">View cover</a></p> -->
            <p><a [routerLink]="['/']" id="weblink">nuirattapon.com</a></p>
            <p><a href="javascript:window.print()"><i>printing friendly page</i></a></p>

      </section>

    </aside>


    <article>

      <header>
        <h1 class="myname">Nui Rattapon - Web Developer</h1>
        <p class="self-intro">I'm a junior web developer with 1-year commercial experiences with international and
NZ companies. My specialities are working with stack of Microsoft web 
technologies from front to back and specialising in front end framework, AngularJs and Angular.<br>
        </p>
      </header>



      <section class="experience-list">


        <h2>Experience</h2>


        <section class="exp-item i1">
          <h4><a target="_blank" href="http://www.mvpstudio.co.nz/">MVP Studio, Auckland</a></h4>
          <span class="date">03/2017 - Present</span>
          <h5>Web developer</h5>
          <b>Project</b>: <a target="_blank" href="https://dev.alexswift.com">Alex Swift Emergency Contact</a> (development state)
          <br><b>Environment</b>: Agile & Scrum
          <br><b>Main technologies</b>: C# Asp.Net MVC, AngularJS, MsSQL, UI-Bootstrap

          <br><b>Responses:</b>
          <ul>
            <li>Development of back-end Windows Service.</li>
            <li>Redesign account and profile page. </li>
            <li>Refactor site's layout and site's css file structure. </li>
            <li>Demo's day presenter team.</li>
          </ul>
          <b>Award</b>: Best performance of May 2017
        </section>

        <section class="exp-item i1">
          <h4><a target="_blank" href="https://www.thomsonreuters.com">Thomson Reuters, Bangkok</a></h4>
          <span class="date">08/2012 - 02/2013</span>
          <h5>Software Engineer (Internship)</h5>
          <b>Project</b>: End-End automation testing framework
          <br><b>Environment</b>: Agile & Scrum
          <br><b>Main technologies</b>: C# .Net, Selenium, NUnit, XML, HTML
          <br><b>Responses:</b>
          <ul>
            <li>Developed automated testing framework to fulfil Continuous Integration(CI) system.</li>
            <li>Embeded Selenium2 into framework to drive automated test on web application.</li>
            <li>Created test report web page.</li>
          </ul>
          <b>Product</b>:
          <a target="_blank" href="https://financial.thomsonreuters.com/en/products/tools-applications/trading-investment-tools/eikon-trading-software.html">EIKON</a>
        </section>




      </section>


      <section class="skills">
        <h2>Skills</h2>

        <div class="skill-set">


          <ul class="skill-list">
            <h6>Font-End</h6>
            <li>Angular 2/JS</li>
            <li>HTML/CSS</li>
            <li>TypeScript</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>GSAP/Skrollr</li>
            <li>Photoshop</li>
          </ul>

          <ul class="skill-list">
            <h6>Back-End</h6>
            <li>C#</li>
            <li>ASP.NET MVC</li>
            <li>Microsoft SQL</li>
            <li>LINQ</li>
            <li>Windows Service</li>
            <li>AZURE</li>
            <li>Firebase</li>

          </ul>

          <ul class="skill-list">
            <h6>Others</h6>
            <li>HTTP/RESTful</li>
            <li>Human computer interaction</li>
            <li>Responsive web design</li>
            <li>Scrum</li>
            <li>Agile methodologies</li>
            <li>Object-oriented programming</li>

          </ul>


        </div>

        <ul class="horizontal-list">
          <li><strong>Old:</strong></li>
          <li>C</li>
          <li>Java</li>
          <li>Matlab</li>
          <li>Selenium</li>
          <li>NUnit</li>
        </ul>




      </section>

      <section class="education">
        <h2>Education</h2>

        <section class="kku">
          <h5>B.Sc. in Computer Science</h5>
          <p>Khon Kaen University 2009 - 2013</p>
          <p><a href="https://onlineservices.immigration.govt.nz/opsmanual/41506.htm" target="_blank">
            A recognised international university assessed by New Zealand Qualifications Authority (NZQA)</a></p>
        </section>
      </section>


      <section class="ref">
        <h2>References</h2>

        <section>

          <p>Available upon request.</p>
        </section>

      </section>

    </article>




  </div>

</div>
