<div class="cv-container">
  <ul id="navbar" class="nav nav-inline pull-right">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-success" [routerLink]="['/blog']">Blog</a>
            </li>
        </ul>

    <div class="wrapper">



      

        <h2 class="myname">Nui Rattapon W.</h2>

        <aside>
            <header>

            </header>
            <section>
                <h3>Contact me</h3>
                <p><a href="#">Email : nui.rattapon@gmail.com</a></p>
                <p><a>Phone : 021 189 8539</a></p>
                <p><a target="_blank" href="https://www.linkedin.com/in/rattapon/">Linkedin profile</a></p>
                <p><a target="_blank" href="https://github.com/nuirattapon">Github profile</a></p>

            </section>

        </aside>


        <article>

            <header>
                <h2 class="cv">Curriculum Vitae</h2>
            </header>

            <section class="experience-list">


                <h2>Experience</h2>


                <section class="exp-item i1">
                    <h3><a target="_blank" href="http://www.mvpstudio.co.nz/">MVP Studio, Auckland</a></h3>
                    <span class="date">03/2017 - Present</span>
                    <h5>Full-stack web developer</h5>
                    <p>Full-stack web developer work in Agile & Scrum software environment, build emergency contact platform
                        . Main technologies involve : C# Asp.Net MVC, AngularJS, MsSQL, HTML, CSS, UI-Bootstrap Responses
                        : - Development of back-end Windows Service to serve back-end geolocation functionality.</p>
                </section>

                <section class="exp-item i1">
                    <h3><a target="_blank" href="https://www.thomsonreuters.com">Thomson Reuters, Bangkok</a></h3>
                    <span class="date">08/2012 - 02/2013</span>
                    <h5>Software engineer (internship)</h5>
                    <p>Full-stack web developer work in Agile & Scrum software environment, build emergency contact platform
                        . Main technologies involve : C# Asp.Net MVC, AngularJS, MsSQL, HTML, CSS, UI-Bootstrap Responses
                        : - Development of back-end Windows Service to serve back-end geolocation functionality.</p>
                </section>




            </section>

            <section class="skills">
                <h2>Skills</h2>

                <div class="skill-set">


                    <ul>
                        <h6>Font-End</h6>
                        <li>Angular 2</li>
                        <li>AngularJS</li>
                        <li>HTML/CSS</li>
                        <li>TypeScript</li>
                        <li>Javascript</li>
                        <li>jQuery</li>
                        <li>Bootstrap</li>
                        <li>Angular Material</li>
                        <li>Photoshop</li>
                    </ul>

                    <ul>
                        <h6>Back-End</h6>
                        <li>C#</li>
                        <li>ASP.NET (MVC, Core, API)</li>
                        <li>Microsoft SQL</li>
                        <li>LINQ</li>
                        <li>Node.js</li>
                        <li>Windows Service</li>              
                        <li>Firebase</li>              
                        <li>AZURE</li>              

                    </ul>

                    <ul>
                        <h6>Knowledges</h6>
                        <li>HTTP/RESTful</li>
                        <li>Human computer interaction</li>
                        <li>Responsive web design</li>
                        <li>Scrum</li>
                        <li>Agile methodologies</li>
                        <li>Object-oriented programming</li>

                    </ul>


                </div>

                <ul class="horizontal-list">
                    <li><strong>Old:</strong></li>
                    <li>C</li>
                    <li>Java</li>
                    <li>Matlab</li>
                    <li>Selenium</li>
                    <li>NUnit</li>
                </ul>




            </section>
            <!--End Skill list-->


            <section class="ref">
                <h2>Recent activities and references</h2>

                <section>
                    <h4>references 1</h4>
                    <p><i>xxxx longer activities section section rattapon</i></p>
                </section>

                <section>
                    <h4>references 2</h4>
                    <p><i>Please have a look at my LinkedIn profile for a longer list.</i></p>
                </section>
            </section>

        </article>




    </div>

</div>