<nav class="nav cv pull-right">
  <a class="nav-link" routerLinkActive="active" id="link-cover" [routerLink]="['/cover']">Cover</a>
  <a class="nav-link" routerLinkActive="active" id="link-cv" [routerLink]="['/resume']">Resume</a>
  <a class="nav-link" routerLinkActive="active" id="link-portfolio" [routerLink]="['/portfolio']">Portfolio</a>
  <a class="nav-link" routerLinkActive="active" id="link-blog" [routerLink]="['/blog']">Blog</a>
</nav>

<header class="page">
  <h1>RECENT WORK</h1>
</header>

<section class="twiss-f">
  <div class="container">

    <div class="row  slide-right">

      <figcaption class="col-md-7">
        <header>
          <h4>Money Bag - Thai Takeaway</h4>
        </header>
        <summary>
          Single-page food takeaway website, responsive for all devices. On mobile phone UI, 
          there are spacial buttons for improving user experience to go to food's menu and  
          a Call button for order food just right there. Also one click button to open Google map and 
          navigate you to the shop.
        </summary>
        <a class="view-work" href="https://moneybagthaichch.firebaseapp.com/" target="_blank" md-raised-button>View</a>

        <footer>
          <ul>
            <li><img src="/assets/img/angular-sm.png" alt="Angular"></li>
            <li><img src="/assets/img/materail.png" alt="Material"></li>
            <li><img src="/assets/img/bootstrap.png" alt="Bootstrap 4"></li>
            <li><img src="/assets/img/firebase.png" alt="Google Firebase"></li>
            <li><img src="/assets/img/Angular-CLI.png" alt="Angular CLI"></li>
          </ul>
        </footer>
      </figcaption>

      <figure class="col-md-5">
        <img src="/assets/img/moneybag-monitor.png" alt="">
      </figure>

    </div>

  </div>
</section>

<section class="twiss-b">
  <div class="container">

    <div class="row slide-left">

      <figure class="col-md-5">
        <img src="/assets/img/at-monitor.png" alt="">
      </figure>

      <figcaption class="col-md-7">
        <header>
          <h4>AT Financial</h4>
        </header>
        <summary>
          AT Financial is a sample serverless single-page web, provided currency exchange rates and economic news for customer. Also
          provided currency watching feature.

        </summary>
        <a class="view-work" href="https://allied-telesis-fn-app.firebaseapp.com" target="_blank" md-raised-button>View</a>

        <footer>
          <ul>
            <li><img src="/assets/img/angular-sm.png" alt="Angular"></li>
            <li><img src="/assets/img/Angular-CLI.png" alt="Angular CLI"></li>
            <li><img src="/assets/img/materail.png" alt="Material"></li>
            <li><img src="/assets/img/bootstrap.png" alt="Bootstrap 4"></li>
            <li><img src="/assets/img/firebase.png" alt="Google Firebase"></li>
          </ul>
        </footer>
      </figcaption>

    </div>

  </div>
</section>

<section class="twiss-f">
  <div class="container">

    <div class="row  slide-right">

      <figcaption class="col-md-7">
        <header>
          <h4>Alex Swift - Emergency Contact</h4>
        </header>
        <summary>
          Alex Swift is cloud-based emergency contact solution that offers a GPS service to help people in emergency situation 24/7.
          It integrates with a call center to contact a person emergency contact.
        </summary>
        <a class="view-work" href="http://dev.alexswift.com/" target="_blank" md-raised-button>View</a>

        <footer>
          <ul>
            <li><img src="/assets/img/AngularJS.png" alt="AngularJS"></li>
            <li><img src="/assets/img/aspnet.png" alt="ASP.NET"></li>
            <li><img src="/assets/img/MicrosoftSQLServer.png" alt="SQL Server"></li>
            <li><img src="/assets/img/bootstrap.png" alt="Bootstrap 4"></li>
            <li><img src="/assets/img/microsoft-azure.png" alt="AZURE"></li>
          </ul>
        </footer>
      </figcaption>

      <figure class="col-md-5">
        <img src="/assets/img/cb-monitor.png" alt="">
      </figure>

    </div>

  </div>
</section>

<section class="twiss-b">
  <div class="container">

    <div class="row slide-left">

      <figure class="col-md-5">
        <img src="/assets/img/cover-monitor.png" alt="">
      </figure>

      <figcaption class="col-md-7">
        <header>
          <h4>Personal Site Cover Page</h4>
        </header>
        <summary>
           A personal introduction skrolling animation page.Using basic CSS3 style propperties to animate objects. 
           SVG drawing with Adobe Illastrator and PNG graphic using Adobe Photoshop.

        </summary>
        <a class="view-work" routerLink="/cover" target="_blank" md-raised-button>View</a>

        <footer>
          <ul>
            <li><img src="/assets/img/angular-sm.png" alt="Angular 4"></li>
            <li><img src="/assets/img/greensock-gsap.png" alt="Green Sock"></li>
            <li><img src="/assets/img/skrollr.png" alt="Skrollr"></li>
            <li><img src="/assets/img/bootstrap.png" alt="Bootstrap 4"></li>
            <li><img src="/assets/img/firebase.png" alt="Google Firebase"></li>
            <li><img src="/assets/img/Angular-CLI.png" alt="Angular CLI"></li>
          </ul>
        </footer>
      </figcaption>

    </div>

  </div>
</section>

<section class="twiss-f">
  <div class="container">

    <div class="row  slide-right">

      <figcaption class="col-md-7">
        <header>
          <h4>Personal Blog</h4>
        </header>
        <summary>
          Personal Blog built from scratch. Font-end hosting on Firebase and RESTful API back-end hosting on AZURE. Using Firebase authentication 
          service for both client-side and server-side.
        </summary>
        <a class="view-work" routerLink="/blog" target="_blank" md-raised-button>View</a>

        <footer>
          <ul>
            <li><img src="/assets/img/angular-sm.png" alt="Angular 4"></li>
            <li><img src="/assets/img/aspnet.png" alt="ASP.NET"></li>
            <li><img src="/assets/img/MicrosoftSQLServer.png" alt="SQL Server"></li>
            <li><img src="/assets/img/microsoft-azure.png" alt="AZURE"></li>
            <li><img src="/assets/img/firebase.png" alt="Google Firebase"></li>
            <li><img src="/assets/img/materail.png" alt="Material"></li>
            <li><img src="/assets/img/greensock-gsap.png" alt="Green Sock"></li>
            <li><img src="/assets/img/bootstrap.png" alt="Bootstrap 4"></li>
            <li><img src="/assets/img/Angular-CLI.png" alt="Angular CLI"></li>
          </ul>
        </footer>
      </figcaption>

      <figure class="col-md-5">
        <img src="/assets/img/blog-monitor.png" alt="">
      </figure>

    </div>

  </div>
</section>

<section class="twiss-b">

</section>
