<div class="container body">

  <div class="row justify-content-center">


    <div class="col-lg-7 col-xs-12 col-sm-9 post-wrapper">


      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span> 
                            
                        </button>
        <h4 class="alert-heading">Hello!</h4><span class="pull-right" style="font-size:80%;"> <i>20 July 2017</i> </span>
        <p>Blog is still on upgrading process, to use a new stack of web technologies.</p>
        <p class="mb-0">Such as ASP.NET Core MVC, Angular4 and Bootsrap4</p>
        <p>Has been redesigned blog to minimal and clean read style.</p>
      </div>

      <div class="alert alert-danger" *ngIf="blogService.errorMessage != null">{{blogService.errorMessage}}</div>


      <div *ngFor="let post of blogService.posts">


        <button class="post-action pull-right" md-icon-button [mdMenuTriggerFor]="menu" title="edit/delete post">
          <md-icon>more_horiz</md-icon>
        </button>

        <md-menu #menu="mdMenu" xPosition="before"  yPosition="below">

          <!-- <button md-menu-item disabled>
            <md-icon>mode_comment</md-icon>
            <span>Comment</span>
          </button> -->
          <button md-menu-item *ngIf="(afAuth.authState | async)" (click)="editPost()">
            <md-icon>mode_edit</md-icon>
            <span>Edit</span>
          </button>
          <button md-menu-item *ngIf="(afAuth.authState | async)" (click)="deletePost(post.id)">
            <md-icon style="color:tomato;">delete_forever</md-icon>
            <span style="color:tomato;">Delete</span>
          </button>
        </md-menu>

        <a [routerLink]="['/blog', post.id]">
          <div class="post-container">

            <section class="post-title">



              <h4>{{post.title}}</h4>
              <i class="text-muted">
              <span class="author">Posted by <b>{{post.author}}</b> </span>
              <span class="date">on {{post.createdOn | date: 'longDate'}}</span>
              </i>
              <div class="description text-muted">{{post.description}}</div>
              
            </section>
            
            <!-- <section class="post-content" [innerHTML]="post.content"></section> -->

            <section class="post-social" style="margin-top:2%;">
              <!--<button data-toggle="modal" data-target="#exampleModalLong" md-raised-button>Share</button>-->
            </section>

          </div>
        </a>
        <!-- <span><a [href]="blogUrl+post.id+'#disqus_thread'"> comments</a></span> -->
      </div>


      <div class="list-pagination">
        <span class="list-pagination-previous pull-left">
      
          <a href="/Kiko-plus/page2/" class="previous text-muted"> <i class="fa fa-chevron-left" aria-hidden="true"></i> older</a>
      
        </span>

        <span class="list-pagination-next pull-right ">
      
        <a href="/Kiko-plus/page2/" class="next text-muted">newer <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
      
        </span>

      </div>

    </div>

    <div class="col-lg-3 col-xs-12 col-sm-3 blog-sidebar">
      <button type="button" class="btn btn-primary btn-newpost" (click)="goToNewpost()">
        <!-- <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 3px; font-size:28px;"></i>  
        Write -->
        <md-icon>create</md-icon>
        <span>Write</span>
      </button>

      <div class="sidebar-module sidebar-module-header">
        <div class="card">
          <img class="card-img-top thumpnail" src="../assets/img/nui-thumbnail.jpg" alt="Card image cap">
          <div class="card-block">
            <p style="margin-top: 5px;  text-indent: 20px;">
              <b>Hello, my name is Nui Rattapon — a web developer. Currently work in Auckland for MVP Studio.</b>
            </p>
            <p>This blog was built from scratch, powered by Angular 4, Bootstrap 4, GSAP, Skrollr and many more. Use ASP.Net
              Core API and Firebase as a back-end.</p>
            <p>Thanks for visiting.</p>
          </div>
        </div>


      </div>
    </div>


  </div>

</div>
