<div class="alert alert-info" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
  <h4 class="alert-heading">Hello!</h4><span class="pull-right" style="font-size:80%;"> <i>20 July 2017</i> </span>
  <p>Blog is still under developing, however some features are working, so you can ...</p>
  <p class="mb-0">- Login safely with social accounts. <br> - Post article after you are logged in.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMessage != null">{{errorMessage}}</div>

<!-- Posts  -->
<div *ngFor="let post of posts | reverse">
  <div class="post-container">

    <section class="post-title">
      <div class="post-action pull-right">
        <!-- HTML to write -->
        <div class="btn-group" role="group" title="edit/delete post">
          <a id="btnGroupDrop1" class="btn-postaction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                        </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item dd-edit" *ngIf="(afAuth.authState | async)" (click)="editPost()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
            <a class="dropdown-item dd-del" *ngIf="(afAuth.authState | async)" (click)="deletePost(post.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
            <a class="dropdown-item"><i class="fa fa-exclamation" aria-hidden="true"></i> Report</a>
          </div>
        </div>
      </div>


      <h3><a [routerLink]="['/blog', post.id]">{{post.title}}</a></h3>
      <div class="date">{{post.createdOn | date: 'longDate'}}</div>
      <div class="author">
        By: {{post.author}}
      </div>
    </section>

    <section class="post-content" [innerHTML]="post.content">

    </section>

    <section class="post-social" style="margin-top:2%;">
      <!--<button data-toggle="modal" data-target="#exampleModalLong" md-raised-button>Share</button>-->

    </section>
  </div>
</div>
