<div class="container newpost-container">
  <form (ngSubmit)="addNewPost()" [formGroup]="newPostForm" novalidate>
    <h2 class="pull-left">New post</h2>
    <button [disabled]="!(afAuth.authState | async) || newPostForm.invalid" type="submit" class="btn btn-lg btn-primary pull-right">
      <span *ngIf="(afAuth.authState | async)">Submit</span>
      <span *ngIf="!(afAuth.authState | async)">Please login before submit</span>
    </button>
     
    <div class="form-group" [ngClass]="{'has-success': newPostForm.get('title').valid, 
                                        'has-danger': (newPostForm.get('title').touched || newPostForm.get('title').dirty) && !newPostForm.get('title').valid}">
      <!-- <label for="title">Title</label> -->
      <md-input-container class="md-form-control">
       <input formControlName="title" mdInput placeholder="Title *" #title maxlength="150">
       <md-hint align="end">{{title.value.length}} / 150</md-hint> 
      </md-input-container>
      <!-- <input formControlName="title" type="text" class="form-control" placeholder="required"> -->
    </div>

    <div class="form-group">
      <!-- <label for="inputDescription">Description</label> -->
      <md-input-container class="md-form-control">
        <textarea mdInput formControlName="description" #description maxlength="400" rows="2" placeholder="Description"></textarea>
       <md-hint align="start">Short description explain the title.</md-hint>
       <md-hint align="end">{{description.value.length}} / 400</md-hint> 
      </md-input-container>
      <!-- <textarea formControlName="description" class="form-control" id="inputDescription" rows="3" placeholder="optional"></textarea> -->
    </div>



    <!-- <textarea id="tinymceEditor"></textarea> -->
    <div class="form-group">
      <label for="inputDescription" class="text-muted">Content *</label>
      <textarea formControlName="content" class="custom-editor" id="tinymceEditor"></textarea>
    </div>




  </form>





</div>
<div class="emptybox-50"></div>



