        <div class="post-container" *ngFor="let post of posts">

            
            <section class="post-title">
                <h3>{{post.title}}</h3>
                <div class="date">{{post.createddate}}</div>
                <div>
                    By: {{post.author}}
                </div>
            </section>

            <section class="post-pic">
                <img [src]="post.picurl" alt="" width="50%">
            </section>
            <!--<img src="../../assets/img/phone.jpg" alt="">-->
            <section class="post-content">
                {{post.content}}
            </section>

            <section class="post-social">
                        <button data-toggle="modal" data-target="#exampleModalLong" md-raised-button>Share</button>

            </section>

        </div>
