.post-container {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    max-width: 48rem;
}

.post-action  .dropdown-menu{
    border-radius: 0;
}
.post-action .dd-del{
    color: #d9534f;
}

.btn-postaction i{
    color: gray;
}


.btn-postaction:hover i{
    color: black;
}

.post-pic {
    text-align: center;
    max-height: 450px;
    overflow: hidden;
     margin-top: 4%;
     margin-bottom: 4%;
}

.post-pic img {
    width: 100%;
    margin-top: -10%;
}

.date {
    font-size: 75%;
    /*line-height: 1px;*/
    margin-top: -10px;
}

.author {
    font-size: 80%;
    margin-top: -2px;
    font-weight: 500;
}

.post-content {
    margin-top: 30px;
}

.disqus-comment{
    margin: 45px 0;
}

@media(max-width:768px) {
    .post-pic {
        text-align: center;
        width: 100%;

    }
    .post-pic img {
        width: 100%;
        box-shadow: 1px 2px 7px 2px gray;
    }
}

@media(max-width: 576px){
}