

<div class="container post-container">

  <div class="alert alert-danger" *ngIf="errorMessage != null">
  {{errorMessage}}</div>

  <section class="post-title">

    <button class="post-action pull-right" md-icon-button [mdMenuTriggerFor]="menu" title="edit/delete post">
          <md-icon>more_horiz</md-icon>
        </button>

    <md-menu #menu="mdMenu" xPosition="before">

      <!-- <button md-menu-item disabled>
            <md-icon>mode_comment</md-icon>
            <span>Comment</span>
          </button> -->
      <button md-menu-item *ngIf="(afAuth.authState | async)" (click)="editPost()">
            <md-icon>mode_edit</md-icon>
            <span>Edit</span>
          </button>
      <button md-menu-item *ngIf="(afAuth.authState | async)" (click)="deletePost(post.id)">
            <md-icon style="color:tomato;">delete_forever</md-icon>
            <span style="color:tomato;">Delete</span>
          </button>

    </md-menu>


    <h1>{{post.title}}</h1>
    <i class="text-muted">
      <span class="author">Posted by <b>{{post.author}}</b> </span>
      <span class="date">on {{post.createdOn | date: 'longDate'}}</span>
    </i>

  </section>

  <section class="post-content">
    <div [innerHTML]="post.content | safeHtml"></div>
  </section>

  <section class="post-social" style="margin-top:2%;">

  </section>
  
  <section class="disqus-comment">
  <disqus-thread [page-identifier]="pageIdentifier" [page-url]="pageUrl"></disqus-thread>
    
  </section>
</div>
