.post-container {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    max-width: 48rem;
     /* box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);  */
}

.post-title {
    /*background-color: whitesmoke;*/
    /*border-radius: 6px;*/
    /*margin-bottom: 3%;*/
    /*color: white;*/
    /*padding: 8px;*/
}
.post-action  .dropdown-menu{
    border-radius: 0;
}
.post-action .dd-del{
    color: #d9534f;
}

.btn-postaction i{
    color: gray;
}


.btn-postaction:hover i{
    color: black;
}

.post-pic {
    text-align: center;
    max-height: 450px;
    overflow: hidden;
     margin-top: 4%;
     margin-bottom: 4%;
     /*box-shadow: 2px 3px 8px 2px gray;*/
    
}

.post-pic img {
    width: 100%;
    margin-top: -10%;
    /*max-height: 450px;*/  
}

.post-content, .post-social {
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
}

.date {
    font-size: 75%;
    /*line-height: 1px;*/
    margin-top: -10px;
}

.author {
    font-size: 80%;
    margin-top: -2px;
    font-weight: 500;
}

.post-content {
    margin-top: 30px;
}

p {
    text-indent: 35px;
}

@media(max-width:768px) {
    .post-pic {
        text-align: center;
        /*padding: 3.5%;*/
        width: 100%;

    }
    .post-pic img {
        width: 100%;
        box-shadow: 1px 2px 7px 2px gray;
    }
}

@media(max-width: 576px){
    .post-container {
        
    }
}