.body {
  width: 100%;
  height: 100%;
}

main{
    height: 5000px
}

/*.full-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}*/

.scene {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
}

#scene1 {
  background: url("../../../assets/img/phone.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

#scene2 {
  background: url("../../../assets/img/DSC_6711.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(0, 200%);
  -ms-transform: translate(0, 200%);
  transform: translate(0, 200%);
}

#scene3 {
  background: url("../../../assets/img/NUI_9500.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(0, 300%);
  -ms-transform: translate(0, 300%);
  transform: translate(0, 300%);
}

#scene4 {
  background: url("../../../assets/img/NUI_9506.jpg") no-repeat center center;
  background-size: cover;
  -webkit-transform: translate(0, 400%);
  -ms-transform: translate(0, 400%);
  transform: translate(0, 400%);
}

.red {
  background-color: tomato;
}

.green {
  background-color: forestgreen;
}

.blue {
  background-color: skyblue;
}

.yellow {
  background-color: gold;
}

#intro{

}

.intro-content {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border: 1px solid gray;
}

#intro h1 {
  position: relative;
  border: 1px solid gray;
  font-size: 900%;
  color: white;
  opacity: 0;
}

.move-left{
    position: relative;
    transform: translate(-100px,-20px);
}


/* Skrollr */
.scroll-info{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background-color: white;
    padding: 20px;
}