<!-- scrolling debuger -->
<!--<div class="scroll-info">0</div>-->

<!-- fixed page height for scrolling length-->
<div class="full-screen">

  <!-- *********************************** 
        Progress bar 
***********************************  -->
  <div id="progress-bar" 
        data-0="opacity:0;" 
        data-200="opacity:1; width:0%; background-color:rgb(173, 220, 226);"
        data-999="width:19.99%; background-color:rgb(173, 220, 226);" 
        data-1000="width:20%; background-color:rgb(63, 108, 69);"
        data-1999="width:39.99%; background-color:rgb(63, 108, 69);"
        data-2000="width:40%; background-color:rgb(51, 122, 173);" 
        data-2999="width:59.99%; background-color:rgb(51, 122, 173);" 
        data-3000="width:60%; background-color:rgb(136, 110, 105);" 
        data-3999="width:79.99%; background-color:rgb(136, 110, 105);" 
        data-4000="width:80%; background-color:rgb(0, 99, 99);" 
        data-5000="width:100%; background-color:rgb(0, 99, 99);" 
        data-end="width:100%;">
  </div>


  <div id="progress-items-container" data-100="opacity:0;" data-200="opacity:1;">
    <div class="progress-item">About me</div>
    <div class="progress-item">Skills</div>
    <div class="progress-item">Experience</div>
    <div class="progress-item">Education</div>
    <div class="progress-item">Connect</div>
  </div>





  <!-- *********************************** 
        Intro 
***********************************  -->
  <!-- Hello bg -->
  <div class="scene white" data-start="transform:translate(0%,0%);" data-200="transform:translate(0%,-100%);"></div>
  <!-- about me bg -->
  <div id="aboutme" class="img-scene" data-0="transform:translate(0%,100%); display:block;" data-200="transform:translate(0%,0%); display:block;"
    data-1200="display:none;">

  </div>
  <div id="me-png" class="img-scene" data-180="transform:translate(0%,70%); display:block; opacity:0.4;" data-300="transform:translate(0%,0%); opacity:1;"
    data-900="transform:translate(0%,0%);" data-1200="transform:translate(-50%,0%); display:none;">
  </div>
  <!-- decorator -->
  <div class="img-scene" id="intro">
    <div class="intro-content" data-0="transform:translate(0vw, 0vh); display:block; color:rgb(0,0,0);" data-200="transform:translate(30vw, -20vh); color:rgb(255,255,255);"
      data-800="top:0%;" data-1200="top:-150%; display:none;">
      <h1 id="hello">hello</h1>
      <br>
      <div id="advice" data-0="opacity:1; z-index:99999;" data-10="opacity:0;">scroll down or&nbsp;<a style="color:#545454;" href="/cv">just view my resume</a></div>
      <div id="myName">
        <h3 data-300="opacity:0;" data-350="opacity:1;">My name is Nui Rattapon,</h3>
        <h4 data-330="opacity:0;" data-380="opacity:1;">a junior web developer.</h4>
        <h4 data-340="opacity:0;" data-400="opacity:1;">Currently work for <a target="_blank" href="http://www.mvpstudio.co.nz/"> MVP Studio</a>, Auckland.</h4>
      </div>
    </div>
  </div>




  <!-- *********************************** 
        Skills 
***********************************  -->
  <!-- bg -->
  <div class="scene skill" data-1000="transform:translate(0vw,100vh) scale(1,1) rotate(0deg); display:block;" data-1200="transform:translate(0vw,0vh) scale(1,1) rotate(0deg); display:block;"
    data-1900="transform:translate(0vw,0vh) scale(1,1) rotate(0deg); display:block;" data-2000="transform:translate(0vw,40vh) scale(8,8) rotate(45deg); display:block;"
    data-2300="display:none;">
    <h1>Skills</h1>
    <div class="skill-container" data-1110="opacity:0;" data-1150="opacity:1;" data-1900="opacity:1;" data-1970="opacity:0;">
      <!--<div class="row">-->

      <div class="skill-box" data-1100="transform:translateX(-20%);" data-1140="transform:translateX(0%);">
        <div class="fontend">
          <div class="skill-header">
            <h3>Font-end</h3>
          </div>
          <div class="skill-level">
            <div class="level-l">Beginer</div>
            <div class="level-r">Expert</div>
          </div>
          <h6>Angular</h6>
          <div class="skill-bar">
            <div class="percent" data-1220="width:0%; background:rgb(227, 233, 139);" data-1300="width:65%; background:rgb(203, 90, 0);"></div>
          </div>

          <h6>AngularJS</h6>
          <div class="skill-bar">
            <div class="percent" data-1220="width:0%; background:rgb(227, 233, 139);" data-1300="width:60%; background:rgb(203, 150, 0);"></div>
          </div>

          <h6>Javascript</h6>
          <div class="skill-bar">
            <div class="percent" data-1220="width:0%; background:rgb(255, 187, 0);" data-1300="width:74%; background:rgb(203, 60, 0);"></div>
          </div>

          <h6>HTML</h6>
          <div class="skill-bar">
            <div class="percent" data-1220="width:0%; background:rgb(255, 187, 0);" data-1300="width:80%; background:rgb(203, 20, 0);"></div>
          </div>

          <h6>CSS</h6>
          <div class="skill-bar">
            <div class="percent" data-1220="width:0%; background:rgb(255, 187, 0);" data-1300="width:80%; background:rgb(203, 20, 0);"></div>
          </div>

          <h6>Including: Typescript, JQuery, Bootstrap, Angular Material, GSAP, Skrollr and Photoshop</h6>

        </div>



      </div>

      <div class="skill-box" data-1100="transform:translateY(30%);" data-1200="transform:translateY(0%);">
        <div class="backend">
          <div class="skill-header">
            <h3>Back-end</h3>
          </div>
          <div class="skill-level">
            <div class="level-l">Beginer</div>
            <div class="level-r">Expert</div>
          </div>

          <h6>C#</h6>
          <div class="skill-bar">
            <div class="percent" data-1300="width:0%; background:rgb(255, 187, 0);" data-1400="width:70%; background:rgb(251, 101, 66);"></div>
          </div>

          <h6>ASP.NET(MVC,API,Core)</h6>
          <div class="skill-bar">
            <div class="percent" data-1300="width:0%; background:rgb(255, 187, 0);" data-1400="width:67%; background:rgb(251, 101, 66);"></div>
          </div>

          <h6>MS SQL</h6>
          <div class="skill-bar">
            <div class="percent" data-1300="width:0%; background:rgb(255, 187, 0);" data-1400="width:65%; background:rgb(251, 101, 66);"></div>
          </div>

          <!--<h6>NodeJS</h6>
          <div class="skill-bar">
            <div class="percent" data-1300="width:0%; background:rgb(255, 187, 0);" data-1400="width:80%; background:rgb(203, 20, 0);"></div>
          </div>-->

          <h6>Windows Service</h6>
          <div class="skill-bar">
            <div class="percent" data-1300="width:0%; background:rgb(255, 187, 0);" data-1400="width:74%; background:rgb(203, 50, 0);"></div>
          </div>

          <h6>AZURE</h6>
          <div class="skill-bar">
            <div class="percent" data-1300="width:0%; background:rgb(255, 187, 0);" data-1400="width:54%; background:rgb(203, 50, 0);"></div>
          </div>

          <h6>Including: Linq, Entity Framework, Firebase, Auth0, NodeJS, web deployment and configulation.</h6>


        </div>



      </div>


      <div class="skill-box" data-1100="transform:translateX(20%);" data-1200="transform:translateX(0%);">
        <div class="knowledge">
          <div class="skill-header">
            <h3>Khowledge & tools</h3>
          </div>
          <div class="skill-level">
            <div class="level-l">Beginer</div>
            <div class="level-r">Expert</div>
          </div>
          <h6>HTTP/REST</h6>
          <div class="skill-bar">
            <div class="percent" data-1400="width:0%; background:rgb(255, 200, 0);" data-1500="width:70%; background:rgb(255, 80, 0);"></div>
          </div>

          <h6>Human Computer Interaction</h6>
          <div class="skill-bar">
            <div class="percent" data-1400="width:0%; background:rgb(255, 187, 0);" data-1500="width:79%; background:rgb(251, 101, 66);"></div>
          </div>

          <h6>Responsive design</h6>
          <div class="skill-bar">
            <div class="percent" data-1400="width:0%; background:rgb(255, 187, 0);" data-1500="width:65%; background:rgb(251, 101, 66);"></div>
          </div>

          <h6>OOP</h6>
          <div class="skill-bar">
            <div class="percent" data-1400="width:0%; background:rgb(255, 187, 0);" data-1500="width:77%; background:rgb(251, 101, 66);"></div>
          </div>

          <!--<h6>Scrum / Agile methodology</h6>
          <div class="skill-bar">
            <div class="percent" data-1400="width:0%; background:rgb(255, 187, 0);" data-1500="width:80%; background:rgb(203, 20, 0);"></div>
          </div>-->

          <!--<h6>Windows Service</h6>
          <div class="skill-bar">
            <div class="percent" data-1400="width:0%; background:rgb(255, 187, 0);" data-1500="width:74%; background:rgb(203, 50, 0);"></div>
          </div>-->
          <h6>Including: Scrum / Agile methodology, TFS, Github.</h6>

          <!--</div>-->

        </div>




      </div>
    </div>

    <div class="focus-skill">

      <svg version="1.1" id="drawing" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 700 500" style="enable-background:new 0 0 700 500;" xml:space="preserve">
        <style type="text/css">
          /*.st0{font-family:'MyriadPro-Regular';}*/

          .st1 {
            font-size: 80%;
          }

          .st2 {
            font-size: 100%;
          }

          .st3 {
            fill: none;
            stroke: #3f6c45;
            stroke-miterlimit: 10;
            stroke-width: 2;
            stroke-dasharray: 6000;
            stroke-dashoffset: 0;
          }
        </style>
        <text id="svg-skill-txt2" transform="matrix(1 0 0 1 131 196.5)" data-1535="opacity:0;" data-1575="opacity:1;">
          <tspan x="0" y="0" class="st1">Angular &amp;</tspan>
          <tspan x="0" y="14.4" class="st0 st1">ASP.NET Web API</tspan>
        </text>
        <text id="svg-skill-txt1" transform="matrix(1 0 0 1 110 177)" class="st2" data-1525="opacity:0;" data-1567="opacity:1;">Very interested in</text>
        <path id="skillWire" class="st3" data-1500="stroke-dashoffset:6000;" data-1800="stroke-dashoffset:0;" d="M700,15c0.5-5.5-23.5,0.5-45,15c-11.3,7.6-22.8,36.6-31,48c-9.3,13.1-26.3,21.5-64,25
	        c-56.1,5.2-64-9.1-110-6c-46.5,3.1-80.8,20.5-99,30c-35.9,18.7-57.5,29.9-70,55c-12.9,25.9-4.9,44.3-25,66
	        c-12.8,13.8-28.6,20.1-34.9,22.5c-17.5,6.7-32.1,6.7-45.1,6.5c-20.1-0.2-56.6-0.7-81-27c-1.2-1.3-3.4-3.8-6-7.4
	        c-14.9-21-21.5-52.7-10-80.6c12.2-29.6,39.3-41.6,47-45c51.8-23,103.7,9.2,114,16c15.9,10.5,44.3,29.2,47,60c4,44.8-49.7,75.1-55,78
	        c-7.9,4.3-38.4,20.4-75,11c0,0-29.3-7.6-50.6-31.3c-5.1-5.6-9.4-12.1-9.4-12.1c-0.9-1.3-3.5-5.2-6.4-10.6c0,0-1.9-3.5-3.6-7.1
	        c-18.5-40-7.6-70.9-7.6-70.9c0.8-2.2,2.4-6.9,5.6-12.1c17.3-28.4,58.9-39.3,91-36c50.8,5.1,78.6,45.6,85,55c9.6,14,30.6,44.6,20,76
	        c-8.1,23.9-30,35.3-45,43c-56.9,29.4-114.7,0.9-119-1.4c-4.8-2.6-9-5.6-9-5.6c-1.8-1.3-6.3-4.7-12-10.9c-1.1-1.2-11.4-12.5-18-25.1
	        c-2.1-4.1-18.3-35.2-10-63c13.9-46.6,87.9-55,97-56c21-2.4,59.4-6.7,87,18c37.5,33.5,37.3,104.4,6,137c-46.8,48.7-171.4,20.3-192-50
	        c-11.8-40.2,10.5-94.3,53-116c34.8-17.8,76.5-10.5,105,7c55.2,33.9,34.3,89.9,92,175c13.5,19.9,52,76.7,121,109
	        c61.4,28.7,94.3,13.5,172,45c44.3,17.9,68.5,34,88.5,49.5" />
      </svg>

    </div>





  </div>




  <!--<img id="laptop" data-1150="top:-2vmax; right:-8vmax; opacity:0;" 
                  data-1260="top:2vmax; right:-1vmax; opacity:1;" 
                  data-1850="top:2vmax; right:-1vmax; opacity:1;" 
                  data-1900="top:-10vmax; right:-20vmax; opacity:1;" 
                  src="/assets/img/notebook.svg">-->
  <img id="doc" data-0="display:none;" data-1700="top:10%; right:25%; opacity:0; display:block;  transform:scale(8,8) rotate(-45deg); -webkit-transform:scale(8,8) rotate(-45deg);" 
                  data-1750="top:40%; right:45%; opacity:1; transform:scale(1,1) rotate(-45de; -webkit-transform:scale(1,1) rotate(-45deg);" 
                  data-1900="top:40%; right:45%; opacity:1; transform:scale(1,1) rotate(-45deg); -webkit-transform:scale(1,1) rotate(-45deg);" 
                  data-2000="top:70%; right:45%; opacity:1; transform:scale(8,8) rotate(0deg); -webkit-transform:scale(8,8) rotate(0deg);" 
                  data-3000="opacity:0; display:none;"
                  src="/assets/img/doc_exp2.svg">
  <!-- decorator -->

  




  <!-- *********************************** 
        Work 
***********************************  -->
  <!-- bg -->
  <div class="scene work" data-2100="display:none; transform:translateY(0%)" data-2150="display:block; transform:translateY(0%)"
    data-3000="transform:translateY(0%)" data-3200="transform:translateY(-100%)" data-3220="display:none;">
    <h1>Experience</h1>
  </div>

  <div class="work-container" data-2150="display:none;" data-2151="display:block;" data-3000="display:none;">

    <div class="work-box mvp" data-2400="box-shadow: 0px 0px 0px gray;" data-2500="box-shadow: 2px 3px 8px gray;" data-2900="position: relative; transform:translateX(0%);"
      data-3000="position: relative; transform:translateX(150%);">

      <div class="work-logo" data-2170="position:relative; opacity:0;" data-2280="opacity:1;">
        <img src="/assets/img/mvp.png" alt="">
      </div>
      <div class="work-des" data-2190="position:relative; opacity:0;" data-2280="opacity:1;">
        <span class="pull-right work-date"> Mar 2017 - present</span>
        <h5>MVP Studio, Auckland</h5>
        <h6><i>Full-stack web developer </i></h6>
        <p><b>Project</b> : <a target="_blank" href="https://dev.alexswift.com">Alex Swift Emergency Contact</a>
          <br><b>Environment</b>: Agile & Scrum
          <br><b>Main technologies</b>: C# Asp.Net MVC, AngularJS, MsSQL, UI-Bootstrap
          <br><b>Responses</b> :
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • Development of back-end Windows Service to serve back-end geolocation functionality.
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • Redesign account and profile page.
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • refactor site's layout and site's css file structure.
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • Demo's day presenter team.

          <br><b>Award</b>: Best performance of May 2017
        </p>
      </div>

    </div>

    <div class="work-box reuters" data-2420="box-shadow: 0px 0px 0px gray;" data-2520="box-shadow: 2px 3px 8px gray;" data-2900="position: relative; transform:translateX(0%);"
      data-3000="position: relative; transform:translateX(-150%);">

      <div class="work-logo" data-2220="position:relative; opacity:0;" data-2300="opacity:1;">
        <img src="/assets/img/reuters.png" alt="">
      </div>

      <div class="work-des" data-2250="position:relative; opacity:0;" data-2300="opacity:1;">
        <span class="pull-right work-date"> Oct 2013 - Feb 2014</span>
        <h5>Thomson Reuters, Bangkok</h5>
        <h6><i>Software engineer (paid intern)</i></h6>
        <p><b>Project</b>: End-End automation testing framework
          <br><b>Environment</b>: Agile & Scrum
          <br><b>Main technologies</b>: C# .Net, Selenium, NUnit, XML, HTML
          <br><b>Responses</b> :
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • Developed automate testing framework to fulfils Continuous Integration(CI) system
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • Embed Selenium2 into framework to drive test on web application
          <br>&nbsp;&nbsp;&nbsp;&nbsp; • Generate automate test report in HTML
          <br> <b>Product</b>:
          <a target="_blank" href="https://financial.thomsonreuters.com/en/products/tools-applications/trading-investment-tools/eikon-trading-software.html">EIKON</a>
        </p>
      </div>

    </div>

  </div>



  <!-- *********************************** 
       Education
***********************************  -->
  <div class="scene education" data-0="display:none;" data-3000="display:block; transform:translate(0%,100%);" data-3200="display:block; transform:translate(0%,0%);"
    data-4000="transform:translate(0%,0%);" data-4200="transform:translate(0%,-100%);">
    <h1>Education</h1>
    <div class="edu-container">


      <div class="edu-box ic" data-3220="position:relative; opacity:0;" data-3250="opacity:1;" data-3879="opacity:1;" data-3900="opacity:0;">

        <div class="edu-logo">
          <img src="/assets/img/ic_icon.png" alt="">
        </div>

        <div class="edu-des">
          <h5>Developer job ready programe</h5>
          <h6><a href="http://www.industryconnect.org/" target="_blank"><b> Industry Connect</b></a>, Auckland Feb - Mar 2017</h6>
          <ul>
            <li>Learn practical knowledge business and soft-skills and meet IT industry people in New Zealand.
            </li>
            <li>Learn popular web development technologies such as C#, ASP.NET MVC, MsSQL Server, Entity Framework and web form.
            </li>
            <li>
              Internship in commercial projects guided by senior developers, PM, BA or QA.
            </li>
          </ul>
        </div>

      </div>

      <div class="edu-box kku" data-3250="position:relative; opacity:0;" data-3300="opacity:1;" data-3859="opacity:1;" data-3900="opacity:0;">

        <div class="edu-logo">
          <img src="/assets/img/kku-no-border.png" alt="">
        </div>

        <div class="edu-des">
          <h5>Bachelor Degree in Computer Science <span style="font-size:50%;">4ys</span></h5>
          <h6><a href="https://www.kku.ac.th/?l=en" target="_blank"><b>Khon Kaen University</b></a> , Thailand 2009 - 2013</h6>
          <ul>
            <li>Major in Computer Science
            </li>
            <li>Course Highlights: Software Engineer, OOP, Data structure, Programming in JAVA(advance), Database
            </li>
            <li>
              Senior Project: Research on Mobility Model of Mobile Network using Network Simulator(NS-2)
            </li>
            <li>Internship: Reuters Software(Thailand) Limited and ThaiAirways International Public Limited
            </li>
          </ul>

        </div>

      </div>

    </div>
  </div>





  <!-- *********************************** 
        About me
***********************************  -->
  <div class="scene connect" data-4000="transform:translate(0,100%);  background:rgb(228, 227, 219);" 
      data-4200="transform:translate(0,0); background:rgb(228, 227, 219);" 
      data-4350="transform:translate(0,0); background:rgb(228, 227, 219);" 
      data-4400="transform:translate(0,0); background:rgb(154, 217, 252);"
      data-4600="transform:translate(0,0); background:rgb(154, 217, 252);"
      data-4650="transform:translate(0,0); background:rgb(228, 227, 219);" 
      >
    <h1>I'm a IT passionate, self learner, team player,
      <h2>  well-travelled and culture blended</h2>
      <br>
      <h2 data-4350="position:relative; opacity:0;" data-4400="opacity:1;" 
          data-4649="opacity:1;" data-4680="opacity:0;">I'm leaving Aucklnad and looking for a challenging permanent position</h2>
      <h2 data-4360="position:relative; opacity:0;" data-4410="opacity:1;" 
          data-4649="opacity:1;" data-4680="opacity:0;">in Christchurch with a forward thinking IT company</h2>
      <h2 data-4370="position:relative; opacity:0;" data-4420="opacity:1;" 
          data-4649="opacity:1;" data-4680="opacity:0;" >where I can create awesome web application and grow my skills.</h2>
      <h2 data-4650="position:relative; opacity:0; transform:translateY(-120px);" data-4660="opacity:1;" >Thank you for scrolling this far :)</h2>
      <h2 data-4650="position:relative; opacity:0; transform:translateY(-120px);" data-4670="opacity:1;" >I hope we cound have a chance to work together.</h2>


    </h1>
    
    <div class="connect-container">
      
    </div>
  </div>

  <img id="chch" src="/assets/img/chch2.svg" 
        data-4600="display:none;" 
        data-4620="display:block; opacity:0; transform:translate(4%,4%);"      
        data-4660="opacity:1; transform:translate(2%,0%);" 
        data-4780="opacity:0.9; transform:translate(0,0%);" 
        data-4830="opacity:0; transform:translate(-5%,0%);" 
        data-4850="opacity:0; display;none;">

  <img id="cloudbg" src="/assets/img/cloud.svg" 
        data-4300="display:none;" data-4340="display:block; opacity:0;" data-4350="opacity:1; transform:translate(-4%,0%);" 
        data-4600="opacity:0.8; transform:translate(0%,0%);" data-4630="opacity:0;" data-4700="opacity:0; display;none;">
        
  <img id="airplane-sm" 
        data-4430="transform:translate(0%,30%);" 
        data-4650="transform:translate(600%,-30%);" src="/assets/img/airplane.svg" alt="">

  <img id="airplane" 
        data-4610="transform:translate(0%,0%);" 
        data-4800="transform:translate(170%,30%);" src="/assets/img/airplane.svg" alt="">


  
  <!-- *********************************** 
        Footer
***********************************  -->
  <div class="scene-footer" data-4850="opacity:0; transform:translate(0,100vh);" data-end="opacity:1; transform:translate(0,50vh);">
    <div class="footer-container">
      
        <div class="row">
          <div class="col-sm-6 ft1">
            <h1>To stay connect</h1> 
            <h5><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp; Nui Rattapon</h5>
              <a href="tel:+6421898539"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; (+64) 021 189 8539</a>
              <br><a href="mailto:connect@NuiRattapon.com"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; connect@NuiRattapon.com</a>  
              <br><a href="https://linkedin.com/in/rattapon/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp; LinkedIn</a>
              <br><a href="https://github.com/nuirattapon" target="_blank"> <i class="fa fa-github-square" aria-hidden="true"></i>&nbsp;&nbsp; Github</a>
              <br><a href="/cv"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp; View resume</a>
              <br><a href="/blog"><i class="fa fa-external-link-square" aria-hidden="true"></i>&nbsp;&nbsp; Blog</a>

          </div>
          <div class="col-sm-6 ft2">
            <h1>This website</h1>
            <h5>is built from scratch, powered by :</h5>
                - Angular v.4
              <br>- Skrollr
              <br>- Bootstrap v.4
              <br>- ASP.NET Core API     
              <br>
            <a class="ft-github" href="https://github.com/nuirattapon/NuiSite" target="_blank" >
              <span id="gh">
                    <i class="fa fa-github-square" aria-hidden="true"></i> 
              </span>
              <span id="ght">
                has public on Github repository</span>
              </a>
            <h5 style="margin-top:6px;"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Nui Rattapon</h5>
            </div>
        </div>
    
    
    
    
    </div>
  </div>

</div>
