<div class="scroll-info">0</div>
<!--<header role="banner">
  <nav class="anchor-nav" role="navigation">
    <a href="#intro" id="intro-anchor">Intro</a>
    <a href="#scene1" id="anchor1">Skills</a>
    <a href="#scene2" id="anchor2">Exprience</a>
    <a href="#scene3" id="anchor3">Education</a>
    <a href="#scene4" id="anchor4">Connect</a>
  </nav>
</header> -->

<main class="full-screen">
  <!--Intro-->
  <section class="scene blue" id="intro">
    <div class="intro-content" 
      data-top="transform:translate(0px, 0px)" 
      data--275-top="transform:translate(-200px, 300px)" 
      data-anchor-target="#intro">
      <h1 id="hello">hello</h1>
    </div>
  </section>

</main>


   <!--Skills-->
  <!--<section class="scene green" id="scene1">
    <div>
      <p>Skills</p>
    </div>
  </section>-->

  <!-- Exprience -->
  <!--<section class="scene red" id="scene2">
    <div>
      <p>Exprience</p>
    </div>
  </section>-->
  <!-- Education -->
  <!--<section class="scene blue" id="scene3">
    <div>
      <p>Education</p>
    </div>
  </section>-->
  <!--Connect-->
  <!--<section class="scene yellow" id="scene4">
    <div>
      <p>Connect</p>
    </div>
  </section>-->