/************************************
    Globle
************************************/

.modal-content, .btn, input, .dropdown-menu {
    border-radius: 0;
}

h1,h2,h3,h4,h5,h6{
    color: #494e52;
}


/************************************
    Layout
************************************/

.container-fluid {
    background-color: #fafafa;
    color: #494e52;
    /* font-family: 'Roboto',sans-serif; */
      /* font-family: 'Lato', sans-serif; */
     /* font-family:  -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif; */
}

.container.body {
    min-height: 100%;
}

@media (max-width: 767px) {
    .navbar-toggleable-sm > .container {
        width: 100%;
    }

}

@media (min-width: 1500px){
    /* .container.body {
    width: 78vw;
} */
.container.nav{
    width: 77vw;
}
}

/************************************
    Nav bar
************************************/

.navbar {
  background-color: #fff;
  /* border-bottom: 1px solid #e4e4e4; */
  box-shadow: 0 0 4px rgba(103, 103, 103, 0.14), 0 4px 8px rgba(56, 56, 56, 0.28);
}

.nav-item a{
    color: #4c4c4c;
}
.nav-item a:hover {
    /*background-color: rgba(0, 0, 0, .5);*/
    color: #888888;
    transition-delay:0.1s;
}

.active {
    font-weight: bold;
}

.btn-newpost-nav{
    border-radius: 10px;
    color: white;
    font-size: 22px;
    padding: 0.3rem 1rem;
}
a.btn-newpost-nav :hover{
    border-radius: 10px;
    color: white;
    background: #34a853;
}

/************************************
    Footer
************************************/

.blog-footer{
    height: 260px;
    padding: 18px;
    background: #333333;
    color: #fff;
}

.copyright-footer{
    height: 30px;
    text-align: center;
}

/************************************
    Body
************************************/

.post-wrapper {
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0 auto;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 100%;
    width: 800px;
    float: right;
}

/************************************
    Post container
************************************/
.post-container {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    max-height: 200px;
}


.post-content{
    max-height: 100px;
    overflow-y: hidden;
}
.post-action  .dropdown-menu{
    border-radius: 0;
}
.post-action .dd-del{
    color: #d9534f;
}

.btn-postaction i{
    color: gray;
}


.btn-postaction:hover i{
    color: black;
}
.date {
    font-size: 75%;
    /*line-height: 1px;*/
    margin-top: -10px;
}

.author {
    font-size: 80%;
    margin-top: -2px;
    font-weight: 500;
}

/************************************
    Side bar
************************************/

.blog-sidebar {
    padding: 13px;
    margin-top: 2px;
    font-family: 'Lato', sans-serif; 
    float: left;
    max-width: 300px;
}

.blog-sidebar .card{
    background: #fafafa;
    /*border: none;*/
}
.sidebar-module-header {
    /*padding: 14px;*/
    background-color: #fafafa;
    font-size: 14px;
}

.card-img-top.thumpnail {
  object-fit: cover;
  width: 100%;
}


.sidebar-module-archive {
    margin-top: 10px;
    padding: 10px;
}


/************************************
    Post button
************************************/

.newpost-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.newpost {
    margin-right: -84px;
    margin-bottom: 30px;
}


.btn-newpost {
    width: 65px;
    height: 65px;
    text-align: center;
    padding: 6px 0;
    padding-top: 4px;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}


/************************************
    Login
************************************/

#login-dp {
    min-width: 255px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: whitesmoke;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    width: 100%;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons button {
    width: 48.5%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-gg {
    color: #fff;
    background-color: #EA4335;
}

.btn-gg:hover {
    color: #fff;
    background-color: #EA6000;
}

@media(max-width:768px) {
    #login-dp .bottom {
        /*background-color: inherit;*/
        border-top: 0 none;
    }
 

}



/* utillity */
.color-blue{
    color: #4285f4;
}
.color-red{
    color: #ea4335;
}
.color-yellow{
    color: #fbbc05;
}
.color-green{
    color: #34a853;
}

@media(max-width:576px) {
   .newpost {
    margin-right: 0px;
    margin-bottom: 15px;
}


.blog-main, .blog-sidebar {
    padding: 0px;
}

}