/* Golbal */

.modal-content, .btn, input, .dropdown-menu {
    border-radius: 0;
}


/* Layout */

.container-fluid {
    background-color: #e6ebef;
    font-family: 'Open Sans', sans-serif;
}

.container.body {
    min-height: 100%;
}

@media (max-width: 767px) {
    .navbar-toggleable-sm > .container {
        width: 100%;
    }
    .navbar {
        padding-left: 30px;
    }
}


/*Nav bar*/

.navbar {
    background-color: white;
    box-shadow: 0px 1px 4px #e2e2e2;
}

.nav-item a:hover {
    background-color: whitesmoke;
    border-radius: 4px;
    color: black;
}

.active {
    font-weight: bold;
}


/*Footer*/

footer {
    text-align: center;
    height: 60px;
    padding: 18px;
    /*border-top: 1px solid;*/
}


/*Body*/

.post-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 100%;
    /*border: 1px solid;*/
}

.blog-main {
    /*padding-left: 20px;*/
    /*border: 1px solid;*/
}


/* Side bar*/

.blog-sidebar {
    padding: 8px;
    margin-top: 12px;
}

.sidebar-module-header {
    padding: 14px;
    background-color: white;
    font-size: 14px;
}

.blog-sidebar .thumbnail {
    max-width: 160px;
    text-align: center;
}

.sidebar-module-archive {
    margin-top: 10px;
    padding: 10px;
}


/* New Post*/

.newpost-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.newpost {
    margin-right: -84px;
    margin-bottom: 30px;
}


.btn-newpost {
    width: 65px;
    height: 65px;
    text-align: center;
    padding: 6px 0;
    padding-top: 4px;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}


/****** Login ********/

#login-dp {
    min-width: 255px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: whitesmoke;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    width: 100%;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons button {
    width: 48.5%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-gg {
    color: #fff;
    background-color: #EA4335;
}

.btn-gg:hover {
    color: #fff;
    background-color: #EA6000;
}

@media(max-width:768px) {
    #login-dp {
        /*background-color: inherit;*/
        /*color: #fff;*/
    }
    #login-dp .bottom {
        /*background-color: inherit;*/
        border-top: 0 none;
    }
 

}

@media(max-width:576px) {
   .newpost {
    margin-right: 0px;
    margin-bottom: 15px;
}


.blog-main, .blog-sidebar {
    padding: 0px;
}

}