<md-progress-bar class="loading-bar" *ngIf="blogService.showLoading" mode="indeterminate"></md-progress-bar>
<!-- Nav bar-->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container nav">
    
    <a class="navbar-brand" [routerLink]="['/blog']">
        <img id="logo" src="/assets/img/n-icon.svg" width="30" height="30" class="d-inline-block align-top">
        <div class="d-inline-block" id="logoTxt">
           <span>Nui Rattapon</span> 
        </div>
    </a>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <!--Left nav-->
      <ul class="navbar-nav mr-auto">

      </ul>


      <!--Right nav-->
      <ul class="navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link" id="link-cover" [routerLink]="['/cover']">Cover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link-cv" [routerLink]="['/resume']">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link-cover" [routerLink]="['/portfolio']">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" id="link-blog" [routerLink]="['/']">Blog</a>
        </li>
        <li class="nav-item hidden-sm-down">
          <div class="nav-link">|</div>
        </li>

        <li class="nav-item" *ngIf="(afAuth.authState | async)">

          <button class="nav-link" md-button [mdMenuTriggerFor]="menu">            
          <md-icon>perm_identity</md-icon>         
          <span>{{user.displayName == null? 'No name' : user.displayName}}</span>
        </button>

          <md-menu #menu="mdMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
            <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Setting</span>
            </button>
            <button md-menu-item (click)="authenService.logout()">
            <md-icon style="color:tomato;">exit_to_app</md-icon>
            <span style="color:tomato;">Log out</span>
            </button>
          </md-menu>

        </li>
        <li *ngIf="!(afAuth.authState | async)" class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu dropdown-menu-right">
            <li>
              <div class="row">
                <div class="col-md-12">
                  Login via
                  <div class="social-buttons">
                    <button (click)="authenService.loginByFb()" class="btn btn-fb"><i class="fa fa-facebook"></i> </button>
                    <button (click)="authenService.loginByGoogle()" class="btn btn-gg"><i class="fa fa-google"></i> </button>
                  </div>
                  or
                  <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav" novalidate (ngSubmit)="loginByEmail()"
                    [formGroup]="loginForm">
                    <div class="form-group" [ngClass]="{'has-danger': (loginForm.get('email').touched || loginForm.get('email').dirty) && !loginForm.get('email').valid,
                                                    'has-success': loginForm.get('email').valid}">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="emailId" placeholder="Email address">
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': (loginForm.get('password').touched || loginForm.get('password').dirty) && !loginForm.get('password').valid,
                                                    'has-success': loginForm.get('password').valid}">
                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="passwordId" placeholder="Password">
                      <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                      <label>
											 <input type="checkbox"> keep me logged-in
											 </label>
                    </div>
                  </form>
                </div>
                <div class="bottom text-center">
                  New here ? <a href="#"><b>Sign Up</b></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--End nav bar-->





<!--Body-->
<div class="container-fluid body">
  <router-outlet></router-outlet>
</div>




<!-- Footer  -->
<footer class="footer">
  <div class="container">



    <span class="footer-link pull-right">

      <a href="https://twitter.com/NuiRattapon" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://github.com/nuirattapon" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/rattapon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://plus.google.com/u/2/102829836561196437617" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/lonelyroam" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="mailto:contact@nuirattapon.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
      
    </span>
    <span class="text-muted pull-left">©2017 Nui Rattapon.</span>

    <span class="text-muted"  *ngIf="IppDetails != null">Your IP: {{IppDetails.ip}} | City:{{IppDetails.city}} | Region:{{IppDetails.region}} </span>
    
  </div>
</footer>
