@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

.container-fluid{
    background-color: whitesmoke;
}
.container.body {
    min-height: 100%;
}

@media (max-width: 767px) {
    .navbar-toggleable-sm > .container {
        width: 100%;
    }
    .navbar {
        padding-left: 30px;
    }
}

.navbar {
    background-color: white;
}

footer{
    text-align: center;
    height: 60px;
    padding: 18px;
    /*border-top: 1px solid;*/
}

.wrapper {
    /*padding: 5%;*/
    padding-top: 20px;
    padding-bottom: 10px;
    /*max-width: 1200px;*/
    margin: 0 auto;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 100%;
    /*border: 1px solid;*/
}
.blog-main{
    padding-left: 20px;
    /*border: 1px solid;*/
}

/* Side bar*/
.blog-sidebar{
    padding: 10px;
}

.sidebar-module-header{
    padding-top: 20px;
    
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    padding-top: 4px;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
}

#newpost {
    /*height: 0px;*/
    /*width: 70px;*/
    position: fixed;
    right: 15%;
    top: 93%;
    /*z-index: 1000;*/
    /*transform: rotate(-90deg);*/
    /*-webkit-transform: rotate(-90deg);*/
    /*-moz-transform: rotate(-90deg);*/
    /*-o-transform: rotate(-90deg);*/
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#newpost a {
    display: block;
    /*background: white;*/
    /*height: 47px;*/
    /*padding-top: 8px;*/
    /*width: 50px;*/
    /*text-align: center;*/
    color: white;
    /*font-family: Arial, sans-serif;*/
    /*font-size: 17px;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*border-radius: 50px;*/
    /*border: 1px solid #444444;*/
}

/****** Login ********/
#login-dp {
    min-width: 255px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: white;
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: whitesmoke;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    width: 100%;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons button {
    width: 48.5%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-gg {
    color: #fff;
    background-color: #EA4335;
}

.btn-gg:hover {
    color: #fff;
    background-color: #EA6000;
}

@media(max-width:768px) {
    #login-dp {
        /*background-color: inherit;*/
        /*color: #fff;*/
    }
    #login-dp .bottom {
        /*background-color: inherit;*/
        border-top: 0 none;
    }
    #newpost {
        top: 90%;
        right: 4%;
    }
    #newpost a {
        /*width: 400px;*/
    }
}

@media(max-width:1600px) {
    #newpost {
        right: 5%;
    }
}